.full-width-table {
  width: 100%;
}

tr img {
  hight: 100px;
  width: 100px;
}

tr:hover > td {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
}

tr > td {
  border: 1px dotted gray;
}
